@charset "utf-8";
/* CSS Document */

html, body {
	padding:0;
	margin:0;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse closest-side, #F9F9F9 0%, #F1F1F1 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #F9F9F9 0%, #F1F1F1 100%);
	
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-side, #F9F9F9 0%, #F1F1F1 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #F9F9F9), color-stop(1, #F1F1F1));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #F9F9F9 0%, #F1F1F1 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse closest-side at center, #F9F9F9 0%, #F1F1F1 100%);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family:"Segoe UI Semilight", "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
	font-size:13px;
	height:100%;
}

h1 {
	margin:20px 0;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#aa-form-div {
	background-color:#FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #CCC;
	margin:0 auto;
	width:35%;
}

#aa-form-footer {
	margin: 0 auto;
	width: 35%;
	color: #AAA;
}

#aa-form-div label {
	display: block;
}

#aa-form-div input, select {
	outline:none;
	padding:10px;
	margin:10px 0;	
	width:100%;
	border:1px solid #CCC;
	border-radius:3px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;	
	box-sizing:border-box;	
}

#aa-form-div input[type="submit"] {
	background-color:#FFF;
	cursor:pointer;
	width:auto;
}

#aa-form-div input[type="submit"]:hover {
	background-color:#DDD;
}


.inner-padding {
	padding:20px;
}

.aa-text-right {
	text-align:right;
}

a {
	color: #000066;
	text-decoration:none;
	font-size:small;
}

a:hover {
	text-decoration:underline;
}

.success {
	color:#99CC00;
	font-weight:bold;
}

.error, .error-msg {
	color: #a94442;
	font-weight:bold;
}

@media screen and (max-width: 960px) {	
.outer {
	position:relative;
	height:100%;
}
#aa-form-div {
	width:100%;
	height:100%;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}

}